{%- from "common.njk" import header %}
{{- header(lang, data) }}

---

*{{ date }}*

Dear Hiring Manager,

{% for paragraph in data.coverLetter[lang].paragraphs %}
{{ paragraph }}
{% endfor %}

Sincerely,

**{{ data.personal.firstname }} {{ data.personal.lastname }}**
